/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
	}

		#header h1
		{
			position: relative;
			top: 0.25em;
		}

		#header .slogan
		{
			position: relative;
			top: 0.75em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
	}

		#nav ul
		{
		}

			#nav ul li
			{
				position: relative;
			}
			
				#nav ul li.current_page_item a:after
				{
					display: none;
				}
